%% -*- erlang -*-

{erl_opts, [debug_info,
            warnings_as_errors]}.

{sub_dirs, ["rel"]}.

{deps, [{gproc, ".*",
         {git, "git://github.com/esl/gproc.git", "9c08011829bc429"}},
        {jiffy, ".*",
         {git, "git://github.com/davisp/jiffy.git", "f71616198f008"}},
        {z_validate, ".*",
         {git, "git://github.com/si14/z_validate.git", "0b9340513fd396f"}},
        {seqbind, ".*",
         {git, "git://github.com/spawngrid/seqbind.git", "9386490f046c6"}},
        {parse_trans, ".*",
         {git, "git://github.com/esl/parse_trans.git", "e3676f4a6b0ec"}},
        {lager, ".*",
         {git, "git://github.com/basho/lager.git", "f29b14f18c8cce"}},
        {tempo, ".*",
         {git, "git://github.com/selectel/tempo.git", "697d081ccd1ac777"}},
        {vmstats, ".*",
         {git, "git://github.com/ferd/vmstats.git", "0fa940d70b"}}

        %% {rebar_joxa_plugin, ".*",
        %%  {git, "https://github.com/erlware/rebar_joxa_plugin.git", "master"}}
       ]}.

%% {sub_dirs, ["apps/rnbwdash"]}.

{xref_checks, [%% exports_not_used,
               undefined_function_calls,
               undefined_functions,
               locals_not_used,
               deprecated_function_calls]}.

%% {plugin_dir, "deps"}.
%% {plugins, [rebar_joxa_plugin]}.
